@font-face {
  font-family: Toboggan;
  src: url("../public/fonts/Toboggan-HeavyCAPS.woff2");
}

@font-face {
  font-family: Toboggan-Light;
  src: url("../public/fonts/Light.woff2");
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* LOGO ANİMATİON */

.rotate {
  animation: animate 4s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes animate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    stroke: #1b13f2;
  }
}

/* LOGO ANİMATİON */
