html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
}

:root {
  scroll-behavior: auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* LOGO ANİMATİON */

.rotate {
  animation: animate 4s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes animate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 758px) {
  html {
    font-size: 10px;
  }
}
/* LOGO ANİMATİON */
